* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.app {
  position: relative;
  color: $color-font;
  font-family: 'Istok Web', sans-serif;
  overflow: hidden;
}

.main {
  min-height: calc(100vh - 60px - 45px);

  @include media-tablet {
    min-height: calc(100vh - 60px - 70px);
  }
}

.wrapper {
  margin: 0 auto;
  max-width: $content-width;
}

button,
a,
select {
  transition: all 0.2s linear;
}
