.authorization-page {
  padding: 40px 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.authorization-page__buttons-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid $color-secondary-highlight;
}

.authorization-page__button {
  font-size: 16px;
  color: rgba($color: $color-font-light, $alpha: 0.5);
  padding: 5px 0;
  background: none;
  border: none;

  &:disabled {
    color: rgba($color: $color-font-light, $alpha: 0.7);
    background: $color-secondary-light;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: auto;
  }
}

.authorization-page__layout {
  width: 100%;
  font-family: "Istok Web", sans-serif;
}

.authorization-page__title {
  font-size: 24px;
  line-height: 200%;
  color: $color-font-light;
  text-align: center;
}

.authorization-page__form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
}

.authorization-page__form-button {
  padding: 5px 10px;
  background: $color-font-light;
  border-radius: 3px;
  border: 1px solid $color-font-light;
  color: $color-font;
  transition: all 0.2s linear;

  &:hover {
    background: none;
    border: 1px solid $color-font-light;
    color: $color-font-light;
  }
}

.authorization-page__link {
  font-size: 16px;
  padding: 0 5px;
  color: #cea5f7;
  background: none;
  border: none;
  text-decoration: underline;

  &-large {
    display: inline-block;
    width: 100%;
    margin: 15px 0 0;
    text-align: center;
  }
}

.authorization-page__text {
  font-size: 16px;
  margin-top: 5px;
  color: $color-font-light;
}