.undefined-page {
  width: 100%;
  padding: 50px 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Istok Web', sans-serif;
}

.undefined-page__block {
  display: flex;
  align-items: center;
  user-select: none;
}

.undefined-page__text {
  font-size: 24px;
  color: rgba($color: $color-font, $alpha: 0.9);

  &-huge {
    font-size: 180px;
    line-height: 150px;
    color: $color-primary;
  }
}