.welcome-page {
  padding: 10px 0;
  
  &__container {
    padding: 0 10px;

    .auth-block {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;

      &__btn {
        display: block;
        box-sizing: border-box;
        padding: 5px 10px;
        background-color: $color-primary;
        border-radius: 3px;
        border: 1px solid $color-primary;
        color: $color-font-light;
        font-size: 16px;
        margin-right: 10px;

        &:hover {
          background-color: $color-font-light;
          color: $color-primary;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .project-info {
      &__title {
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px $color-secondary-highlight;
        margin-bottom: 10px;
      }

      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;

        &.flex-reverse {
          flex-direction: row-reverse;

          @include media-tablet {
            flex-direction: column-reverse;
          }
        }

        @include media-tablet {
          flex-direction: column-reverse;
        }
      }
      
      &__image {
        width: 180px;
        height: 180px;
        flex-shrink: 0;

        &-img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__content {
        font-family: 'CrimsonText', serif;
        font-size: 16px;
        margin-bottom: 15px;
      }
      
      &__link {
        color: $color-secondary-light;

        &:hover {
          color: $color-secondary-highlight;
        }
      }
    }
  }
}