$border: 1px solid $color-primary;
$border-radius: 5px;

.main__wrapper {
  min-width: inherit;
  min-height: inherit;
  display: flex;
  align-items: stretch;
}

.workspace {
  display: flex;
  width: 100%;
  padding: 10px;
}

.workspace__sidebar {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
  border: $border;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.workspace__docs-btn {
  background-image: url('../assets/icons/docs.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
}

.workspace__docs-btn.active {
  background-image: url('../assets/icons/docs-active.svg');
}

.workspace__docs-btn:hover {
  background-color: rgb(230, 230, 230);
}

.workspace__splitter-1 {
  width: 100%;
  overflow: hidden;
  border: $border;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.workspace__editor {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 5px;
  padding: 5px;
}

.workspace__editor-tabs-wrapper {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-column-gap: 5px;
}

.workspace__editor-tabs {
  display: flex;
  align-items: flex-start;
  column-gap: 5px;
  min-height: 50px;
  overflow-x: auto;
}

.workspace__editor-tab {
  display: flex;
  position: relative;
}

.workspace__editor-tab.active {
  outline: 2px solid $color-primary;
  outline-offset: -2px;
}

.workspace__editor-tab_close {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 3px;
  right: 3px;
  background-image: url('../assets/icons/xmark.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}

.workspace__editor-tab_close:hover {
  height: 17px;
  width: 17px;
}

.workspace__editor-tabs button {
  flex-shrink: 0;
}

.workspace__editor-btns {
  display: flex;
  justify-content: space-between;
}

.workspace__editor-tabs-add {
  background-image: url('../assets/icons/plus.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
}

.workspace__editor-tabs-add:hover {
  background-color: rgb(230, 230, 230);
}

.workspace__editor-tabs-run {
  background-image: url('../assets/icons/play.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
}

.workspace__editor-tabs-run:hover {
  background-color: rgb(230, 230, 230);
}

.workspace__codemirror {
  height: 100%;
  display: flex;
  overflow: auto;
  border-top: $border;
}

.workspace__codemirror .cm-editor {
  width: 0;
  flex-grow: 1;
}

.workspace__editor-tools {
  display: flex;
  column-gap: 5px;
  border-top: $border;
  padding-top: 5px;
}

.workspace__editor-tools-toggler {
  margin-left: auto;
  background-image: url('../assets/icons/v-toggler.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
}

.workspace__editor-tools-toggler:hover {
  background-color: rgb(230, 230, 230);
}

.workspace__editor-tools-toggler.active {
  transform: rotate(180deg);
}

.workspace__tool-codemirror {
  height: 100%;
  display: flex;
  overflow: auto;
  border-top: $border;
}

.workspace__tool-codemirror .cm-editor {
  width: 0;
  flex-grow: 1;
}

.workspace .btn_square {
  width: 30px;
  height: 30px;
}

.workspace .btn_rectangle {
  width: 90px;
  height: 30px;
}

.workspace__editor-tools-variables.active,
.workspace__editor-tools-headers.active {
  border: 2px solid $color-primary;
}

.workspace__response-codemirror {
  height: 100%;
  display: flex;
  overflow: auto;
}

.workspace__response-codemirror .cm-editor {
  width: 0;
  flex-grow: 1;
}

.p-splitter-horizontal>.p-splitter-gutter>.p-splitter-gutter-handle {
  height: 100%;
}

.p-splitter-vertical>.p-splitter-gutter>.p-splitter-gutter-handle {
  width: 100%;
}
