$color-primary: #791d1e;
$color-primary-light: #af3e40;

$color-dark: #290302;

$color-secondary: #43592b;
$color-secondary-light: #63734f;
$color-secondary-highlight: #8da075;
$color-secondary-bright: #71a92a;
$color-light: #fcfafb;

$color-font: #21170e;
$color-font-light: #fcfafb;

$content-width: 1200px;
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;