@font-face {
  font-family: 'CrimsonText';
  src: url(../assets/fonts/CrimsonText-Roman.eot);
  src: url(../assets/fonts/CrimsonText-Roman.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/CrimsonText-Roman.otf) format('otf'),
       url(../assets/fonts/CrimsonText-Roman.svg#CrimsonText-Roman) format('svg'),
       url(../assets/fonts/CrimsonText-Roman.ttf) format('truetype'),
       url(../assets/fonts/CrimsonText-Roman.woff) format('woff'),
       url(../assets/fonts/CrimsonText-Roman.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url(../assets/fonts/CrimsonText-Italic.eot);
  src: url(../assets/fonts/CrimsonText-Italic.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/CrimsonText-Italic.otf) format('otf'),
       url(../assets/fonts/CrimsonText-Italic.svg#CrimsonText-Italic) format('svg'),
       url(../assets/fonts/CrimsonText-Italic.ttf) format('truetype'),
       url(../assets/fonts/CrimsonText-Italic.woff) format('woff'),
       url(../assets/fonts/CrimsonText-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CrimsonText';
  src: url(../assets/fonts/CrimsonText-Bold.eot);
  src: url(../assets/fonts/CrimsonText-Bold.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/CrimsonText-Bold.otf) format('otf'),
       url(../assets/fonts/CrimsonText-Bold.svg#CrimsonText-Bold) format('svg'),
       url(../assets/fonts/CrimsonText-Bold.ttf) format('truetype'),
       url(../assets/fonts/CrimsonText-Bold.woff) format('woff'),
       url(../assets/fonts/CrimsonText-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url(../assets/fonts/CrimsonText-BoldItalic.eot);
  src: url(../assets/fonts/CrimsonText-BoldItalic.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/CrimsonText-BoldItalic.otf) format('otf'),
       url(../assets/fonts/CrimsonText-BoldItalic.svg#CrimsonText-BoldItalic) format('svg'),
       url(../assets/fonts/CrimsonText-BoldItalic.ttf) format('truetype'),
       url(../assets/fonts/CrimsonText-BoldItalic.woff) format('woff'),
       url(../assets/fonts/CrimsonText-BoldItalic.woff2) format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(../assets/fonts/PressStart2P-Regular.eot);
  src: url(../assets/fonts/PressStart2P-Regular.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/PressStart2P-Regular.otf) format('otf'),
       url(../assets/fonts/PressStart2P-Regular.svg#PressStart2P-Regular) format('svg'),
       url(../assets/fonts/PressStart2P-Regular.ttf) format('truetype'),
       url(../assets/fonts/PressStart2P-Regular.woff) format('woff'),
       url(../assets/fonts/PressStart2P-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Istok Web';
  src: url(../assets/fonts/IstokWeb-Regular.eot);
  src: url(../assets/fonts/IstokWeb-Regular.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/IstokWeb-Regular.otf) format('otf'),
       url(../assets/fonts/IstokWeb-Regular.svg#IstokWeb-Regular) format('svg'),
       url(../assets/fonts/IstokWeb-Regular.ttf) format('truetype'),
       url(../assets/fonts/IstokWeb-Regular.woff) format('woff'),
       url(../assets/fonts/IstokWeb-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url(../assets/fonts/IstokWeb-Italic.eot);
  src: url(../assets/fonts/IstokWeb-Italic.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/IstokWeb-Italic.otf) format('otf'),
       url(../assets/fonts/IstokWeb-Italic.svg#IstokWeb-Italic) format('svg'),
       url(../assets/fonts/IstokWeb-Italic.ttf) format('truetype'),
       url(../assets/fonts/IstokWeb-Italic.woff) format('woff'),
       url(../assets/fonts/IstokWeb-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Istok Web';
  src: url(../assets/fonts/IstokWeb-Bold.eot);
  src: url(../assets/fonts/IstokWeb-Bold.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/IstokWeb-Bold.otf) format('otf'),
       url(../assets/fonts/IstokWeb-Bold.svg#IstokWeb-Bold) format('svg'),
       url(../assets/fonts/IstokWeb-Bold.ttf) format('truetype'),
       url(../assets/fonts/IstokWeb-Bold.woff) format('woff'),
       url(../assets/fonts/IstokWeb-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url(../assets/fonts/IstokWeb-BoldItalic.eot);
  src: url(../assets/fonts/IstokWeb-BoldItalic.eot?#iefix) format('embedded-opentype'),
       url(../assets/fonts/IstokWeb-BoldItalic.otf) format('otf'),
       url(../assets/fonts/IstokWeb-BoldItalic.svg#IstokWeb-BoldItalic) format('svg'),
       url(../assets/fonts/IstokWeb-BoldItalic.ttf) format('truetype'),
       url(../assets/fonts/IstokWeb-BoldItalic.woff) format('woff'),
       url(../assets/fonts/IstokWeb-BoldItalic.woff2) format('woff2');
  font-weight: 700;
  font-style: italic;
}
