%burger-line {
  display: inline-block;
  position: absolute;
  background-color: $color-light;
  border-radius: 5px;
  height: 2.67px;
  width: 100%;
}

.burger {
  display: none;
  width: 35px;
  height: 32px;
  border: none;
  padding: 0;
  background-color: transparent;

  @include media-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    height: 16px;
    width: 27px;

    &::before {
      @extend %burger-line;
      top: 0;
      left: 0;
      content: "";
    }

    &::after {
      @extend %burger-line;
      bottom: 0;
      left: 0;
      content: "";
    }
  }

  &__line {
    @extend %burger-line;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.cross {
  display: none;

  @include media-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 30px;
    height: 30px;
    color: $color-font;
    font-size: 46px;
    background: none;
    border: none;
    z-index: 2;
  }
}