.header {
  height: 60px;
  padding: 10px 0;
  background-color: $color-secondary;
  color: $color-font-light;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  &__logo {
    color: $color-font-light;
    text-decoration: none;

    &:hover {
      color: $color-secondary-highlight;
    }
  }

  .navigation {

    @include media-tablet {
      position: absolute;
      top: 0px;
      right: -400px;
      z-index: 2;
      height: 100vh;
      min-width: 40vw;
      background-color: $color-light;
      border: solid 2px $color-primary;
      padding: 50px 5px 5px 5px;
      transition: 1s right;
    }

    &.opened {
      right: 0px;
    }

    &__list {
      display: flex;

      @include media-tablet {
        flex-direction: column;
      }
    }

    &__item {
      list-style: none;
      margin-right: 20px;

      @include media-tablet {
        padding: 5px;
      }
    }

    &__link {
      color: $color-font-light;
      font-size: 20px;
      text-decoration: none;
      padding: 5px;
      display: inline-block;
      
      @include media-tablet {
        color: $color-font;
      }

      &:active,
      &:hover,
      &.active {
        color: $color-secondary-highlight;
      }

      &-button {
        background: none;
        border: none;
        font-family: 'Istok Web', sans-serif;
      }
    }

    .language {
      height: 100%;
      display: flex;
      justify-content: center;

      @include media-tablet {
        justify-content: normal;
      }
    }
  }

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    animation: slide 0.3s;
    background: transparentize($color: $color-secondary, $amount: 0.2);
    z-index: 2;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
